<div class="footer px-3">
  <div class="Soluzione-top text-center">
    <div class="item">
      <h2>Soluzione</h2>
      <p>
        Utilizzando la potenza del quantum computing ci aiuterai a raggiungere i privilegi che attualmente sono
        destinati soltanto all'1% delle persone, nonché a risolvere 4 grandi problematiche: sviluppare un'economia
        stabile e ricca per tutti, eliminare la povertà, offrire a tutti uno stile di vita dignitoso (così che non siano
        soltanto i ricchi ad averlo) e aiutarti a realizzare i tuoi sogni finanziari!
      </p>
    </div>
  </div>
  <div class="Soluzione-bottom text-center">
    <h2>Ecco come iniziare:</h2>
    <div class="item d-flex">
      <div class="number">1</div>
      <div class="text text-center">
        <h4>Deposita</h4>
        <p>Deposita € 250</p>
      </div>
    </div>
    <div class="item d-flex right">
      <div class="number">2</div>
      <div class="text text-center">
        <h4>Scegli</h4>
        <p>Scegli le operazioni raccomandate da QuantumAI (grazie alla potenza dell'informatica quantistica!)</p>
      </div>
    </div>
    <div class="item d-flex">
      <div class="number">3</div>
      <div class="text text-center">
        <h4>Preleva</h4>
        <p>Preleva qualsiasi importo in poche ore!</p>
      </div>
    </div>
  </div>
</div>
