<div class="hero">
  <header class="header">
    <div class="container">
      <div class="row pt-5 align-items-center">
        <div class="col-lg-5 col-sm-8">
          <div class="header__logo d-flex justify-content-between align-items-center">
            <a href="#">
              <img src="../img/logo.svg" alt="logo" />
            </a>
            <p class="m-0">
              OFFERTA RISERVATA AI <br />
              TRADER Ukraine
            </p>
          </div>
        </div>
        <div class="col-lg-7 col-sm-4">
          <div class="new-account d-flex justify-content-end">
            <a class="rounded-pill" href="#"> Crea un account</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="item">
            <div class="title">
              <h1>
                L'investimento intelligente che ti farà guadagnare €9.288 in 5 ore <br />
                <span>ed eliminare la povertà</span>
              </h1>
              <p>
                Con il nostro investimento intelligente potrai guadagnare migliaia di euro in meno di 7 giorni ed
                eliminare la povertà ottenendo profitti!
              </p>
            </div>
          </div>
          <div class="item-bottom d-flex align-items-center">
            <img src="../img/qce_logo.svg" alt="banner-discount" />
            <p class="m-0">Adesso il computer di quantum computing numero uno al mondo</p>
            <a class="d-inline-block" href="#">ÈLIVE! </a>
          </div>
        </div>
        <div class="col-lg-5 text-center">
          <div class="play">
            <button><img src="../img/play.png" alt="play-btn" /></button>
          </div>

          <div class="registrazione d-flex flex-column align-items-center">
            <h2>registrazione</h2>
            <input class="form-control form-control-lg my-1" type="text" placeholder="Nome" />
            <input class="form-control form-control-lg my-1" type="text" placeholder="Cognome" />
            <input class="form-control form-control-lg my-1" type="email" placeholder="E-mail" />
            <input class="form-control form-control-lg my-1" name="phone" type="text" id="phone" />
            <button class="d-block my-1 w-100">Registrati</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
