.support {
  background: #0d2b6d;
  padding: 50px 0;
  .name {
    margin-left: 20px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    span {
      color: #fda700;
    }
  }
}
